/* font-family: 'Press Start 2P', cursive;  for display*/
/* font-family: 'Orbitron', sans-serif;  for buttons*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    height: 100vh;
}

#chart-container {
    background: #f4f4f4;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 20px;
}

#title{
    font-weight: 800;
}

#tooltip{
    position: absolute;
    opacity: 0;
    background: #ffffca;
    min-width: 100px;
    text-align: center;
}

.cell:hover{
    cursor: pointer;
    stroke: white;
    stroke-width: 0.2%;
}

#legend{
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
}